@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}


.excel {
  position: relative;
  color: #888;
}